/* nav styles */
nav a {
  text-transform: uppercase;
}
nav a span {
  font-weight: bold;
}
nav .sidenav-trigger {
  margin: 0;
}

/* catch styles */
.catches {
  margin-top: 20px;
}
.card-panel.catch {
  padding: 10px;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  grid-template-areas: "image details delete";
  position: relative;
}
/* .catch img {
  grid-area: image;
  max-width: 60px;
} */
.catch-details {
  grid-area: details;
  margin-top: 6px;
}
.catch-delete {
  grid-area: delete;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.catch-delete i {
  font-size: 18px;
}
.catch-title {
  font-weight: bold;
}
.catch-details {
  font-size: 0.8em;
}
